
@{
    ViewData["Title"] = "operation";
}

<h1>operation</h1>

<form action="/student/procces" method="post" enctype="application/x-www-form-urlencoded">>
   <input type="type" name="x" value="" />

    <input type="type" name="y" value="" />

    <button type="submit" name="operation" value="add">Add</button>
    <button type="submit" name="operation" value="divide">Divide</button>

</form>
