
@{
    ViewData["Title"] = "showadd";
    
}

<h1>showadd</h1>
<form action="/student/procces" method="post">
   <input type="type" name="x" value="" />

    <input type="type" name="y" value="" />

    <button type="submit" name="operation" value="add">Add</button>
    <button type="submit" name="operation" value="divide">Divide</button>

</form>


